/* Navigation */

.nav-dropdown{
    margin-right: 2rem;
}
.logo{
    width: 2.5rem;
}
.logo-text{
    font-family: 'Roboto Mono', monospace;
}
.navlink-item{
    color: rgb(44, 44, 44);
    font-family: 'Roboto Mono', monospace;
}
/* Hero */
.hero-jumbotron{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.145),rgba(0, 0, 0, 0.323)), url("https://www.teahub.io/photos/full/123-1238617_night-camping-4k.jpg") ; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.611),rgba(0, 0, 0, 0.507)), url("https://camo.githubusercontent.com/d069971a0af4d9e393066dc77ced000cff23a1f6bbfbb9e7704a870192a926ca/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f66726565636f646563616d702f776964652d736f6369616c2d62616e6e65722e706e67") ;
    background-size: 100% 100%;
    object-fit: cover;
    /* height: 450px; */
    width: 100%;
}
.hero-div{
    color: antiquewhite;
    margin: 2rem auto 0 auto;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Roboto Mono', monospace;

}
.hero-title{
    font-weight: 400;
}
.hero-description{
    font-weight: 400;
    width: 90%;
}
.hero-button{
    margin: 1rem 0 0 0;
}
@media only screen and (max-width: 600px) {
    .hero-jumbotron{
        background-size: cover;
    }
  }


/* TopicsList */
.TopicsList-container{
    padding:2rem 0
}
.individual-card{
    margin: 1rem 0;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: #006600;
}
.tutorial-button{
    margin: 1rem auto;
}
.card-button{
    margin: 0 auto;
}

/* Curriculum */
.curriculum-container{
    margin: 1rem auto;
}
.curriculum-text{
    margin: 3rem auto 0 auto;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #006600;
}
.curriculum-individual-div{
    width: 70%;
    margin: 2rem auto;
}
.course-title-text{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #006600;
}
.curriculum-card-button{
    margin: 1rem auto;
}
/* NavTabs */
.individual-tab-links{
    font-family: 'Roboto Mono', monospace;
    color: #006600;
}